body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

.center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  min-width: fit-content;
	cursor: pointer;
	outline: none;
	border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
